@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mesh-dark-color: hsla(242, 100%, 16%, 1);
  --mesh-light-color: hsla(240, 100%, 35%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.mesh-bg {
  background-color: hsla(0, 0%, 13%, 1);
  background-image: radial-gradient(at 95% 15%,
      hsla(264, 45%, 27%, 1) 0px,
      transparent 50%),
    radial-gradient(at 0% 0%, hsla(264, 44%, 27%, 1) 0px, transparent 50%);
}

.nav-bg {
  background-color: hsla(0, 0%, 13%, 0.5);
}