@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mesh-dark-color: hsla(242, 100%, 16%, 1);
  --mesh-light-color: hsla(240, 100%, 35%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.mesh-bg {
  background-color: hsla(0, 0%, 13%, 1);
  background-image:
    radial-gradient(at 95% 15%, hsla(264, 45%, 27%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(264, 44%, 27%, 1) 0px, transparent 50%);
}

.nav-bg{
  background-color: hsla(0, 0%, 13%, 0.5);
}